main#step-one{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.input {
  width: 100%;
}

#form-page label {
  margin-bottom: 4px;
}

#form-page .label-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input input {
  height: 50px;
  width: 100%;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  padding: 0px 15px;

  font-weight: 500;
  font-size: 17px;
}

.input input::placeholder {
  color: var(--cool-grey);
}

.input input:focus {
  outline: none;
  border: 1px solid var(--marine-blue);
  color: var(--marine-blue);
  caret-color: var(--marine-blue);
}
