main#step-three {
  width: 100%;
  height: 100%;
}

main#step-three .card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card { 
  align-items: center;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  padding: 20px 18px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  transition: 0.1s;
}

main#step-three .check-name-wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}

.checkbox-wrapper {
  height: 20px;
  width: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-wrapper input[type="checkbox"] {
  appearance: none;
  height: 100%;
  width: 100%;
  border: 1px solid var(--cool-grey);
  border-radius: 4px;

  transform: translateY(2px);
}

input[type="checkbox"]:checked {
  border: none;
  background: var(--purplish-blue);
}

main#step-three label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main#step-three h1 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
  color: var(--marine-blue);
}

main#step-three aside {
  color: var(--cool-grey);
}

main#step-three .billing-price {
  color: var(--purplish-blue);
  font-weight: 500;
}
