#step-flow {
  position: relative;
}

#step-flow.mobile {

}

.step-container {
  position: absolute;
  top: 0;
  margin-top: 40px;
  margin-left: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step {
  display: flex;
  align-items: center;
  gap: 20px;

  color: var(--white);
}

.step-number-container {
  border: 1px solid var(--pastel-blue);
  height: 35px;
  width: 35px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.step-number-container .number {
  font-weight: 700;
}

.step-number-container.active {
  background: var(--pastel-blue);
}

.step-number-container.active .number {
  color: #000000;
}

.step-infos {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.step-number {
  font-size: 13px;
  font-weight: 100;
  color: var(--pastel-blue);
}

.step-heading {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}

@media (min-width: 1100px) {
  #step-flow.mobile,
  .background-svg .mobile {
    display: none;
  }
}

@media (max-width: 1100px) {
  .background-svg .desktop,
  #step-flow.desktop {
    display: none;
  }

  #step-flow.mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .background-svg .mobile img {
    width: 100%;
  }

  .step-infos {
    display: none;
  }

  .step-container {
    flex-direction: row;
    margin-left: 50%;
    transform: translate(-50%);
  }
}


