main#step-two {
  height: 100%;
  position: relative;
}

main#step-two .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 30px;
}

.plan-name .name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
  color: var(--marine-blue);
}

.plan-name .billing {
  font-size: 14px;
  color: var(--cool-grey);
}

main#step-two .discount {
  font-size: 14px;
  font-weight: 500;
  color: var(--marine-blue);
}

.billing-plan {
  width: 100%;
  background: var(--magnolia);
  border-radius: 8px;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.billing-plan .content-container {
  display: flex;
  gap: 20px;
}

.billing-plan .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 50px;
  background: var(--marine-blue);

  cursor: pointer;
}

.billing-plan .switch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background: var(--magnolia);
  scale: 0.6;
  border-radius: 50%;
  transition: 0.15s cubic-bezier(1, 0, 0, 1);
}

.billing-plan .switch.active::before {
  content: "";
  left: 22px;
}

.billing-plan p {
  font-weight: 500;
  color: var(--cool-grey);
  transition: 0.15s;
}

.billing-plan p.active {
  color: var(--marine-blue);
}

