@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  /* Primary */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */
  --cool-grey: hsl(231, 11%, 63%);
  --light-grey: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

body {
  background: var(--magnolia);
}

#root {
  width: 100vw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  background: var(--white);
  height: fit-content;
  width:60vw;
  border-radius: 16px;
  filter: drop-shadow(1px 1px 12px var(--light-grey));
  padding: 16px;

  display: flex;
}

@keyframes animation-error {
  20% { translate: 8px;}

  40% {translate: -8px;}

  60% {translate: 4px;}

  80% {translate: -4px;}
}

#form-page {
  width: 100%;
  padding: 40px 90px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.back-btn {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 14px 32px;
  width: fit-content;
  border-radius: 8px;
  color: var(--cool-grey);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.15s;
  font-weight: 500;
  font-size: 16px;
}

.back-btn:hover {
  color: var(--marine-blue);
  scale: 1.05;
}

.next-btn {
  align-self: flex-end;

  padding: 14px 32px;
  background: var(--marine-blue);
  width: fit-content;
  border-radius: 8px;

  border: none;
  color: var(--white);
  /* position: absolute;
  bottom: 0;
  right: 0; */
  z-index: 1000;
  transition: 0.15s;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}

.next-btn:hover {
  scale: 1.05;
  opacity: 0.8;
}

.next-btn.confirm {
  background: var(--purplish-blue);
}

.next-btn.animate-error {
  animation: animation-error 400ms linear
}

.form-content header h1{
  margin-bottom: 12px;
}

.form-content header h1 {
  font-weight: 700;
  font-size: 32px;
}

.form-content header aside {
  color: var(--cool-grey);
}

.plan-card {
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  padding: 20px 18px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  transition: 0.1s;
  height: 190px;
  flex-direction: column;
}

.card:hover,
.plan-card:hover {
  border: 1px solid var(--purplish-blue);
}

.card.active,
.plan-card.active {
  background: var(--magnolia);
  border: 1px solid var(--purplish-blue);
}

@media (max-width:1547px) {
  #form-page {
    padding: 40px 67px 20px;
  }
}

@media (max-width:1470px) {
  #form-page {
    padding: 40px 45px 20px;
  }
}

@media (max-width: 1100px) {
  #root {
    align-items: flex-start;
    justify-content: flex-start;

    padding: 100px;
  }

  #content {
    width: 100%;
    flex-direction: column;
    filter: drop-shadow(1px 1px 12px rgba(0, 0, 0, 0));
  }
}
